/* Main content starts */

.filters-container {
  width: 25rem;
  flex-shrink: 0;
  overflow: auto;
  font-size: 1.4rem;
  border-right: solid 1px lightgray;
}

.filters-container header {
  margin-top: 1.5rem;
}

.filters-close-btn {
  display: none;
  font-size: var(--font-size-h2);
  background-color: transparent;
}

.product-listing {
  max-width: 100%;
  width: 100%;
  overflow-y: auto;
  background-color: var(--lynx-white);
  padding-bottom: 80px;
}

.product-listing-page {
  display: grid;
  grid-template-columns: 25rem 1fr;
  height: calc(100vh - 71px);
  overflow-y: hidden;
}

.product-listing .products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 250px));
  grid-gap: 2rem;
  gap: 2rem;
  row-gap: 4rem;
  padding: 1.2rem;
  align-items: center;
  justify-content: space-around;
  max-width: 1440px;
  margin: 0 auto;
}

.card.card-ecom {
  max-width: 100%;
  background-color: white;
}

.mobile-filter-btn {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  border-top: solid 1px lightgray;
  font-size: 1.8rem;
  height: 55px;
  z-index: 9;
}

.mobile-filter-btn button {
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.mobile-filter-btn button:nth-child(1) {
  border-right: solid 1px lightgray;
}

/* filter starts */

.price input[type="range"] {
  width: 100%;
  cursor: pointer;
}

.filters-container input[type="checkbox"],
.filters-container input[type="radio"] {
  margin-right: var(--spacing-xxs);
}

/* Loader Container */

.loader-container {
  height: 50vh;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .product-listing-page {
    grid-template-columns: 1fr;
  }

  .mobile-filter-btn {
    visibility: visible;
  }

  .filters-container {
    position: fixed;
    z-index: 2;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
    bottom: 55px;
    padding-top: 0;
    transform: translateY(120%);
    transition: transform ease-in-out 0.5s;
    width: 100%;
    overflow: hidden;
    border-top: solid 1px lightgray;
    z-index: 8;
  }

  .filters-container.active {
    transform: translateY(0%);
    transition: transform ease-in-out 0.5s;
  }

  .filters-container.active .mobile-filters-menu {
    overflow: auto;
    height: 100%;
    padding-bottom: 50px;
  }

  .filters-container .price {
    max-width: 250px;
  }

  .filters-container header .btn-link {
    visibility: hidden;
  }
}

/* Pagination */

.pagination .number {
  border: solid 1px lightgray;
  background-color: white;
  border-radius: 5px;
  padding: 0.8rem 1.3rem;
}

.pagination .number:active {
  transform: scale(0.95);
}

.pagination .number:disabled:active {
  transform: scale(1);
}

.pagination .number.active {
  background-color: var(--primary-color);
  color: white;
}
