.card .card-text-content,
.card .card-text-content .subtitle,
.card .card-text-content .card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.card .card-like,
.card .card-dismiss {
  z-index: 1;
}
