:root {
  --silver-chalice: #adadad;
  --celtic-blue: #3275d9;
}

.user-page .tab-header {
  padding: 2rem 1rem 0 1rem;
  border-bottom: solid 1px var(--plain-lightgray);
  color: var(--plain-gray);
}

.user-page .tab-header .tab-name {
  color: var(--plain-gray);
}

.user-page .tab-header .tab-name.active {
  border-bottom: solid 3.5px var(--primary-color);
  color: var(--plain-black);
}
.user-page .tab-container {
  max-width: 396px;
  margin: 2rem auto;
}

/* Address Tab */

.addresses-tab {
  max-width: 1280px;
  margin: 2rem auto;
}

.address-wrapper {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 275px);
  column-gap: 2rem;
  row-gap: 2rem;
}

.address-wrapper .add-btn {
  border: dashed 2px var(--silver-chalice);
  border-radius: 5px;
  min-height: 215px;
}

.address-wrapper .address {
  border: solid 1.5px var(--silver-chalice);
  border-radius: 5px;
  row-gap: 1rem;
}

.address button {
  color: var(--celtic-blue);
}

.address button:hover {
  text-decoration: underline;
}

.address-modal .modal {
  width: 50rem;
  height: auto;
  max-height: 550px;
  margin-top: 5rem;
  overflow: auto;
}

.address-modal .modal .modal-body {
  padding: 0 1.5rem;
}
